body {
  margin: 0px;
}

.navbar {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 50px;
}

#angrybutton {
  background-color: firebrick;
}

.list {
  margin: 5px;
}

#like {
  color: red;
}
